@charset "UTF-8";

* {
    box-sizing: border-box
}


/*미디어 쿼리*/


@media (max-width: 700px){
   /*테이블 반응형 시작*/
    /* Force table to not be like tables anymore */
            table.mTbl,
            table.mTbl thead,
            table.mTbl tbody,
            table.mTbl th,
            table.mTbl td,
            table.mTbl tr {
                display: block;
                height: auto;
                width: auto;
                /*min-width: 100% !important;*/
                overflow: hidden;
            }
            table.mTbl{
             /*   max-height: 420px*/
            }
            table.mTbl tbody{
                overflow: auto
            }
    
    table.mTbl .detail_layer{
        position: relative
    }

            /* Hide table headers (but not display: none;, for accessibility) */
            table.mTbl colgroup,
            table.mTbl thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
                display: none;
            }

            table.mTbl tr {
                margin: 0 0 1rem 0;
                border-top: 1px solid #ddd;
            }

            /*table.moStyle tr:nth-child(odd) {
                background: #ccc;
            }*/
            
 
            table.mTbl td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #ddd;
                
                position: relative;
                /*padding-left: 50%;*/
                padding-top:5px !important;
                padding-bottom:5px !important;
                min-height: 25px !important;
            
            }
            
            
            table.mTbl td
            table.mTbl td:first-child{
                border-top:1px solid #ddd;
                border:none;
                
                position: relative
            }

            table.mTbl td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 0;
                left: 0px;
                width: 45%;
                padding-right: 5px !important;
                white-space: nowrap;
                /* padding-top:5px !important;*/
                display: flex;
                align-items: center;
                padding-bottom:5px !important;
                background: #f1f1f1;
                height: 100%;
                justify-content: center;
                color:#333;
                
            }
    /*주택소유여부 - 부동산 거래내역 테이블*/
    table.mTbl.type01 td {width: 75%; padding-left: 25% !important;text-align: left}        
    table.mTbl.type01 td:before {width: 27%; text-align: center; padding-left: 5px}
            table.type01 td:nth-of-type(1):before {content: "성명";}
            table.type01 td:nth-of-type(2):before {content: "주소";}
            table.type01 td:nth-of-type(3):before {content: "전용면적(m²)";}
            table.type01 td:nth-of-type(4):before {content: "사용승인일";}
            table.type01 td:nth-of-type(5):before {content: "소유권변동일";}
            table.type01 td:nth-of-type(6):before {content: "공시기준일";}
            table.type01 td:nth-of-type(7):before {content: "공시가격";}
      table.mTbl.type01 td:nth-of-type(2) {padding-left:33%!important;}
            
  	/*주택소유여부(청약자격사전관리 2단계 - 건축물대장정보 테이블*/
  	table.mTbl.type01_1{min-width:100%}
    table.mTbl.type01_1 td {width: 100%; padding-left: 33% !important;text-align: left; border:none; border-bottom:1px solid #ddd}        
    table.mTbl.type01_1 td:before {width: 27%; text-align: center; padding-left: 5px}
            table.type01_1 td:nth-of-type(1):before {content: "성명";}
            table.type01_1 td:nth-of-type(2):before {content: "주소";}
            table.type01_1 td:nth-of-type(3):before {content: "전용면적(m²)";}
            table.type01_1 td:nth-of-type(4):before {content: "사용승인일";}
            table.type01_1 td:nth-of-type(5):before {content: "소유권변동사유";}
            table.type01_1 td:nth-of-type(6):before {content: "소유권변동일";}
            table.type01_1 td:nth-of-type(7):before {content: "공시기준일";}
            table.type01_1 td:nth-of-type(8):before {content: "공시가격(천원)";}  
    table.mTbl.type01_1 td:nth-of-type(2) {padding-left:33%!important;}
    
    /* 주택소유여부 -부동산 거래내역(주택분)  테이블*/
    table.mTbl.type03{min-width:100%}
    table.mTbl.type03 td {width: 100%; padding-left: 33% !important;text-align: left; border:none; border-bottom:1px solid #ddd}        
    table.mTbl.type03 td:before {width: 27%; text-align: center; padding-left: 5px}
            table.type03 td:nth-of-type(1):before {content: "성명";}
            table.type03 td:nth-of-type(2):before {content: "주소";}
            table.type03 td:nth-of-type(3):before {content: "매도/매수구분";}
            table.type03 td:nth-of-type(4):before {content: "전용면적(m²)";}
            table.type03 td:nth-of-type(5):before {content: "매매가";}
            table.type03 td:nth-of-type(6):before {content: "잔금지급일";}
            table.type03 td:nth-of-type(7):before {content: "계약일자";}
     table.mTbl.type03 td:nth-of-type(2) {padding-left:33%!important;}
            
            
      /* 주택소유여부 - 재산세 정보 테이블*/
      table.mTbl.type15 {min-width:100%}
      table.mTbl.type15 td {width: 100%; padding-left: 33% !important;text-align: left; border:none; border-bottom:1px solid #ddd}        
      table.mTbl.type15 td:before {width: 27%; text-align: center; padding-left: 5px}
            table.type15 td:nth-of-type(1):before {content: "성명";}
            table.type15 td:nth-of-type(2):before {content: "주소";}
            table.type15 td:nth-of-type(3):before {content: "전용면적(m²)";}
            table.type15 td:nth-of-type(4):before {content: "취득일자";}
            table.type15 td:nth-of-type(5):before {content: "기준일자";}
      table.mTbl.type15 td:nth-of-type(2) {padding-left:33%!important;}
            
      /* 재당첨 제한 테이블*/
      table.mTbl.type16 {min-width:100%}
      table.mTbl.type16 td {width: 100%; padding-left: 35% !important;text-align: left; border:none; border-bottom:1px solid #ddd; height:35px !important }        
      table.mTbl.type16 td:before {width: 30%; text-align: center; padding-left: 5px; height:30px; white-space: normal;}
            table.type16 td:nth-of-type(1):before {content: "이름";}
            table.type16 td:nth-of-type(2):before {content: "당첨주택명 (동ㆍ호수)";}
            table.type16 td:nth-of-type(3):before {content: "당첨일";}
            table.type16 td:nth-of-type(4):before {content: "재당첨 제한";}
            table.type16 td:nth-of-type(5):before {content: "특별공급 1회제한";}
            table.type16 td:nth-of-type(6):before {content: "투기과열지구 및 청약과열지역 내 1순위제한";}
            table.type16 td:nth-of-type(7):before {content: "민영주택 일반공급 가점제 당첨제한";}
            
    /* 재당첨 제한 테이블*/
    table.mTbl.type17 {min-width:100%}
    table.mTbl.type17 td {width: 100%; padding-left: 35% !important;text-align: left; border:none; border-bottom:1px solid #ddd; height:35px !important }        
    table.mTbl.type17 td:before {width: 30%; text-align: center; padding-left: 5px; height:30px; white-space: normal;}
            table.type17 td:nth-of-type(1):before {content: "이름";}
            table.type17 td:nth-of-type(2):before {content: "당첨일";}
            table.type17 td:nth-of-type(3):before {content: "대상주택명";}
            table.type17 td:nth-of-type(4):before {content: "청약 제한기간";}
            
    
    
     /*가상청약 3단계/ 투기과열지구~~ /거주지 확인/ 무주택기간/테이블*/
    table.mTbl.type02 td {width: 100%; padding-left: 31% !important;text-align: left;border-left:none; border-right:none}        
    table.mTbl.type02 td:before {width: 26%; text-align: center; padding-left: 5px}
    /* 모바일로 변하는 테이블안에 있는 테이블은 모바일형태로 변하지 않도록 */
    table.mTbl.type02 .detail_layer table td {padding-left: 0% !important;}
    table.mTbl.type02 .detail_layer table td:before {display:none}
    table.mTbl.type02 .popWrap .agr_wrap table td {padding-left: 0% !important;} 
    table.mTbl.type02 .popWrap .agr_wrap table td:before {display:none}
            table.type02 td:nth-of-type(1):before {content: "검증항목";}
            table.type02 td:nth-of-type(2):before {content: "고객선택";}
            table.type02 td:nth-of-type(3):before {content: "행정정보 조회결과";}
            
    /*가상청약 4단계/ 가점항목 계산 테이블*/
    table.mTbl.type12 th{border-right:none} 
    table.mTbl.type12 td {width: 100%; padding-left: 27% !important;text-align: left !important;border-left:none;border: none;   border-bottom: 1px solid #ddd;}     
    table.mTbl.type12 tr.mTotal td:nth-child(2){display:none}
    table.mTbl.type12 tr.mTotal td:nth-child(3){padding-left:0 !important; text-align: center !important;}
    table.mTbl.type12 tr.mTotal td:nth-child(3):before{display:none; }   
    table.mTbl.type12 td:before {width: 22%; text-align: center; padding-left: 5px}
            table.type12 td:nth-of-type(1):before {content: "구분";}
            table.type12 td:nth-of-type(2):before {content: "선택항목";}
            table.type12 td:nth-of-type(3):before {content: "점수";}
            
	/*특별공급 청약 4단계/ 배점항목 계산 테이블*/
	table.mTbl.type12_1 th{border-right:none} 
    table.mTbl.type12_1 td {width: 100%; padding-left: 27% !important;text-align: left;border-left:none;border: none;   border-bottom: 1px solid #ddd;}     
    table.mTbl.type12_1 tr.mTotal td:nth-child(2){display:none}
    table.mTbl.type12_1 tr.mTotal td:nth-child(3){padding-left:0 !important; border-top:1px solid #ddd}
    table.mTbl.type12_1 tr.mTotal td:nth-child(3):before{display:none; }   
            table.mTbl.type12_1 td:before {width: 22%; text-align: center; padding-left: 5px}
            table.type12_1 td:nth-of-type(1):before {content: "구분";}
            table.type12_1 td:nth-of-type(2):before {content: "신청내역";}
            table.type12_1 td:nth-of-type(3):before {content: "점수";}            
    
     
    /*가상청약4단계/청약통장 가입정보/국민주택/민영주택/청약신청 내역확인(4단계)/행정정보등초본발급/가족,혼인관계증명서/연락주소입력:tbody에 th있는 경우*/
    table.mTbl.type04 tr {margin-bottom: 0; border:none;}
    table.mTbl.type04 th {width: 38%; text-align: center; display: inline-block; border: none; border-bottom: 1px solid #ddd; padding: 9px 5px; min-height: 41px;vertical-align: top; float:left;}
    table.mTbl.type04 td {width: 60%; padding-left: 2%;text-align: left;display: inline-block; min-height: 41px !important;padding: 11px 8px;border: none;    border-bottom: 1px solid #ddd;float:left;}        
    table.mTbl.type04 th.wFull{width: 100%}
        table.mTbl.type04 tr:last-child th:last-of-type,
        table.mTbl.type04 tr:last-child td:last-of-type{ border-bottom: none  }
    
    .needInfo table.mTbl.type04 input[type="password"], 
    .needInfo table.mTbl.type04 input[type="text"]{
        width: 50%;
        height: 30px;
        line-height: 30px
    }
    .needInfo_conts table.mTbl.type04 .select{
        padding-right: 36px;
    }
    .needInfo_conts table.mTbl.type04 .sel_st{
        width: 86px; height: 30px; line-height: 30px
    }
    table.adr_tbl.mTbl.type04 button,
    table.adr_tbl.mTbl.type04 input[type='text'], .adr_tbl input[type='tel']{height:29px}
    
    

    /*가상체험에 3단계 선정기준 입력/확인 커다란 표*/
    table.mTbl.type05 {min-width: 100%; font-size: 0.9rem}
    table.mTbl.type05 .sel_st {min-width: 100px; height: 20px; line-height: 20px}
    table.mTbl.type05 td {padding-left: 18% ;text-align: left; height: auto;}
    table.mTbl.type05 td:first-child{border-top: none}
    table.mTbl.type05 tr{margin: 0;}
    table.mTbl.type05 td:before {width: 25%; text-align: center; }
    table.type05 td.total{padding-left: 30%}
    table.type05 td.stand{width: 50%; display: inline-block ;}
    table.type05 td.point,
    table.type05 td.choice{width: 24%; display: inline-block; padding-left: 12%; }
    table.type05 td.bigo{padding-left: 30%}
            table.type05 td.total:before {content: "총배점"; }
            table.type05 td.stand:before {content: "기준";}
            table.type05 td.point:before {content: "점수";width: 33%}
            table.type05 td.choice:before {content: "선택";width: 33%}
            table.type05 td.bigo:before {content: "비고";}
    table.type05 td.choice  .radio_st2{margin-top: 0px}
    
    
   
     /*세대원 등록*/
    table.mTbl.type06{min-width: 100% !important;}
    table.mTbl.type06 td {width: 100%; padding-left: 32% !important;text-align: left !important;border:none; border-bottom:1px solid #ddd}        
            table.mTbl.type06 td:before {width: 27%; text-align: center;}
            table.type06 td:nth-of-type(1):before {content: "선택";}
            table.type06 td:nth-of-type(2):before {content: "이름";}
            table.type06 td:nth-of-type(3):before {content: "주민등록번호";}
            table.type06 td:nth-of-type(4):before {content: "신청자와의 관계";}
            table.type06 td:nth-of-type(5):before {content: "자료출처";}
            table.type06 td:nth-of-type(6):before {content: "분리세대 여부*";}
            table.type06 td:nth-of-type(7):before {content: "미성년자 여부";}
            table.type06 td:nth-of-type(8):before {content: "정보제공동의";}
    table.mTbl.type06::after{
        content: "* 청약신청자의 배우자가 동일한 주민등록표등본 상에 등재되어 있지 아니한 경우"
    }
    

    
    /*세대구성원 제3자 제공동의 테이블*/
     table.mTbl.type07{min-width: 100%}
    table.mTbl.type07 td {width: 100%;     padding-left: 25% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}        
            table.mTbl.type07 td:before {width: 20%; text-align: center; padding-left: 5px}
            table.type07 td:nth-of-type(1):before {content: "제공받는자";}
            table.type07 td:nth-of-type(2):before {content: "항목";}
            table.type07 td:nth-of-type(3):before {content: "목적";}
            table.type07 td:nth-of-type(4):before {content: "동의유효기간";}
            table.type07 td:nth-of-type(5):before {content: "보유기간";}
            
    /* 청약자격사전관리 세대원등록 추가하고 난뒤 개인정보 팝업으로 뜨는 테이블 SubscrptAualfCnfirmReqstAma*/
    table.mTbl.type08{min-width: 100% !important}
    table.mTbl.type08 td {width: 100%;     padding-left: 25% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}        
            table.mTbl.type08 td:before {width: 20%; text-align: center; padding-left: 5px}
            table.type08 td:nth-of-type(1):before {content: "항목";}
            table.type08 td:nth-of-type(2):before {content: "목적";}
            table.type08 td:nth-of-type(3):before {content: "보유기간";}
            
    table.mTbl.type09{min-width: 100% !important}
    table.mTbl.type09 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}   
            table.mTbl.type09 td:before {width: 26%; text-align: center; padding-left: 5px}
            table.type09 td:nth-of-type(1):before {content: "제공받는 제3자";}
            table.type09 td:nth-of-type(2):before {content: "항목";}
            table.type09 td:nth-of-type(3):before {content: "목적";}
            table.type09 td:nth-of-type(4):before {content: "보유기간";}

    /* 순위확인발급 2단계 개인정보 */        
    table.mTbl.type09_1{min-width: 100% !important}
    table.mTbl.type09_1 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}   
            table.mTbl.type09_1 td:before {width: 26%; text-align: center; padding-left: 5px}
            table.type09_1 td:nth-of-type(1):before {content: "제공받는 자";}
            table.type09_1 td:nth-of-type(2):before {content: "항목";}
            table.type09_1 td:nth-of-type(3):before {content: "목적";}
            table.type09_1 td:nth-of-type(4):before {content: "보유기간";}
    
    /* 오피스텔 신청 2단계 유의사항 개인정보 */        
    table.mTbl.type09_2{min-width: 100% !important}
    table.mTbl.type09_2 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}   
            table.mTbl.type09_2 td:before {width: 26%; text-align: center; padding-left: 5px}
            table.type09_2 td:nth-of-type(1):before {content: "유형";}
            table.type09_2 td:nth-of-type(2):before {content: "항목";}
            table.type09_2 td:nth-of-type(3):before {content: "목적";}
            table.type09_2 td:nth-of-type(4):before {content: "보유기간";}
            
            
            
    /* 청약자격사전관리 세대원 동의*/
    table.mTbl.type10{min-width: 100%}
    table.mTbl.type10 td {width: 100%;     padding-left: 32% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}        
    table.mTbl.type10 td:before {width: 25%; text-align: center; padding-left: 5px}
            table.type10 td:nth-of-type(1):before {content: "제공받는 제3자";}
            table.type10 td:nth-of-type(2):before {content: "항목";}
            table.type10 td:nth-of-type(3):before {content: "목적";}
            table.type10 td:nth-of-type(4):before {content: "동의 유효기간";}
            table.type10 td:nth-of-type(5):before {content: "보유기간";}
            
    table.mTbl.type11{min-width: 100%}
    table.mTbl.type11 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}   
    table.mTbl.type11 td:before {width: 26%; text-align: center; padding-left: 5px}
            table.type11 td:nth-of-type(1):before {content: "동의";}
            table.type11 td:nth-of-type(2):before {content: "요청자";}
            table.type11 td:nth-of-type(3):before {content: "요청받은자";}
            table.type11 td:nth-of-type(4):before {content: "요청자와의 관계";}
            table.type11 td:nth-of-type(5):before {content: "요청일자";}
            table.type11 td:nth-of-type(6):before {content: "동의일자";}
            
   /* 청약알리미 관심지역정보 설정 테이블*/
    table.mTbl.type13{min-width: 100%}
    table.mTbl.type13 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;}
    table.type13 button.btn_blue {width:30%}
    table.mTbl.type13 td:before {width: 26%; text-align: center; padding-left: 5px}       
            table.type13 td:nth-of-type(1):before {content: "순번";}
            table.type13 td:nth-of-type(2):before {content: "유형";}
            table.type13 td:nth-of-type(3):before {content: "지역";}
            table.type13 td:nth-of-type(4):before {content: "신청일자";}
            table.type13 td:nth-of-type(5):before {content: "삭제";}
            
    /*청약자격사전관리 완료*/
    table.mTbl.type18 td {width: 100%; padding-left: 27% !important;text-align: left;border-left:none; border-right:none}        
    table.mTbl.type18 td:before {width: 22%; text-align: center; padding-left: 5px}
            table.type18 td:nth-of-type(1):before {content: "민영주택";}
            table.type18 td:nth-of-type(2):before {content: "확인사항";}
            
    /*모집공고단지 청약연습 신청내역 조회 및 신청취소 */
    table.mTbl.type19{min-width: 100%}
    table.mTbl.type19 td {width: 100%;     padding-left: 35% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type19 td:before {width: 29%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type19 td:nth-of-type(1):before {content: "번호";}
            table.type19 td:nth-of-type(2):before {content: "모집공고단지 청약연습 신청일";}
            table.type19 td:nth-of-type(3):before {content: "상태";}
            table.type19 td:nth-of-type(4):before {content: "가입은행";}
            table.type19 td:nth-of-type(5):before {content: "순위";}
            table.type19 td:nth-of-type(6):before {content: "주택명";}
            table.type19 td:nth-of-type(7):before {content: "주택형";}
            table.mTbl.type19 td.list_none:before{display:none}
     table.mTbl.type19 td.list_none{ height:80px !important; padding-left:2% !important;/* text-align:center !important */}
     /* table.mTbl.type19 td.list_none:before{display:none} */
            
    /* 1순위 통장조건 - 마이페이지 및 청약신청-정보확인-청약통장가입내역조회*/
    table.mTbl.type20 {min-width:100%}
    table.mTbl.type20 th{line-height:30px; border-right:none; border-bottom:1px solid #ddd}
    table.mTbl.type20 td {width: 100%; padding-left: 59% !important;text-align: left; border:none; border-bottom:1px solid #ddd;  height: auto !important;  min-height: 60px !important; }        
    table.mTbl.type20 td:before {width: 55%; text-align: center; padding-left: 5px; height:100%; white-space: normal;}
            table.type20 td:nth-of-type(1):before {content: "투기과열지구 및 청약과열지역";}
            table.type20 td:nth-of-type(2):before {content: "위축지역";}
            table.type20 td:nth-of-type(3):before {content: "투기과열지구 및 청약과열지역, 위축지역외 수도권 (주석1)";}
            table.type20 td:nth-of-type(4):before {content: "투기과열지구 및 청약과열지역, 위축지역외 수도권외 (주석1)";}
            
    /*아파트 특별공급 신청내역 조회 및 신청취소(마이페이지 포함), APT취소후재공급 */
    table.mTbl.type21{min-width: 100%}
    table.mTbl.type21 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type21 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type21 td:nth-of-type(1):before {content: "번호";}
            table.type21 td:nth-of-type(2):before {content: "청약신청일";}
            table.type21 td:nth-of-type(3):before {content: "특별공급 종류";}
            table.type21 td:nth-of-type(4):before {content: "주택명";}
            table.type21 td:nth-of-type(5):before {content: "주택형";}
            table.type21 td:nth-of-type(6):before {content: "신청현황";}
            table.type21 td:nth-of-type(7):before {content: "청약취소";}
            table.type21 td:nth-of-type(8):before {content: "당첨자발표일";}
            table.mTbl.type21 td.list_none:before{display:none}
     table.mTbl.type21 td.list_none{ height:80px !important; padding-left:2% !important;/* text-align:center !important */}
     /* table.mTbl.type21 td.list_none:before{display:none} */
      
      
    /*아파트 1,2순위 신청내역 조회 및 신청취소(마이페이지 포함) */
    table.mTbl.type22{min-width: 100%}
    table.mTbl.type22 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type22 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type22 td:nth-of-type(1):before {content: "번호";}
            table.type22 td:nth-of-type(2):before {content: "청약신청일";}
            table.type22 td:nth-of-type(3):before {content: "가입은행";}
            table.type22 td:nth-of-type(4):before {content: "순위";}
            table.type22 td:nth-of-type(5):before {content: "주택명";}
            table.type22 td:nth-of-type(6):before {content: "주택형";}
            table.type22 td:nth-of-type(7):before {content: "경쟁률";}
            table.type22 td:nth-of-type(8):before {content: "청약취소";}
            table.type22 td:nth-of-type(9):before {content: "당첨자발표일";}
            table.mTbl.type22 td.list_none:before{display:none}
    table.mTbl.type22 td.list_none{ height:90px !important; padding-left:2% !important; /*text-align:center !important */}
            
	/*아파트 무순위 신청내역 조회 및 신청취소(마이페이지 포함) */
    table.mTbl.type23{min-width: 100%}
    table.mTbl.type23 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type23 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type23 td:nth-of-type(1):before {content: "번호";}
            table.type23 td:nth-of-type(2):before {content: "청약신청일";}
            table.type23 td:nth-of-type(3):before {content: "청약유형";}
            table.type23 td:nth-of-type(4):before {content: "주택명";}
            table.type23 td:nth-of-type(5):before {content: "주택형";}
            table.type23 td:nth-of-type(6):before {content: "경쟁률";}
            table.type23 td:nth-of-type(7):before {content: "청약취소";}
            table.type23 td:nth-of-type(8):before {content: "당첨자발표일";}
            table.mTbl.type23 td.list_none:before{display:none}
    table.mTbl.type23 td.list_none{ height:90px !important; padding-left:2% !important; /*text-align:center !important */}
     /* table.mTbl.type23 td.list_none:before{display:none} */
    
    /*순위확인서 발급 내역 조회 */
    table.mTbl.type24{min-width: 100%}
    table.mTbl.type24 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type24 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type24 td:nth-of-type(1):before {content: "발급번호";}
            table.type24 td:nth-of-type(2):before {content: "순위(가입)확인서";}
            table.type24 td:nth-of-type(3):before {content: "청약신청 주택";}
            table.type24 td:nth-of-type(4):before {content: "발급은행";}
            table.type24 td:nth-of-type(5):before {content: "발급일자";}
            table.mTbl.type24 td.list_none:before{display:none}
     table.mTbl.type24 td.list_none{ height:90px !important;  padding-left:2% !important; /*text-align:center !important */}
    /*  table.mTbl.type24 td.list_none:before{display:none} */
    
    /*아파트 당첨조회 */
    table.mTbl.type25{min-width: 100%}
    table.mTbl.type25 td {width: 100%;     padding-left: 50% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd; height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type25 td:before {width: 45%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type25 td:nth-of-type(1):before {content: "성명";}
            table.type25 td:nth-of-type(2):before {content: "생년월일(주민번호 앞6자리)";}
            table.type25 td:nth-of-type(3):before {content: "전화번호(뒷4자리)";}
            table.type25 td:nth-of-type(4):before {content: "예비당첨내역 주택명";}
            table.type25 td:nth-of-type(5):before {content: "예비당첨내역 주택형";}
            table.type25 td:nth-of-type(6):before {content: "예비당첨내역 예비순번";}
            table.type25 td:nth-of-type(7):before {content: "예비당첨내역 당첨구분";}
            table.mTbl.type25 td.list_none:before{display:none}
     table.mTbl.type25 td.list_none{height:120px !important;  padding-left:2% !important; /*text-align:center !important */}
     /* table.mTbl.type25 td.list_none:before{display:none} */
     
    /*오피스텔 당첨조회 */
    table.mTbl.type26{min-width: 100% !important}
    table.mTbl.type26 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type26 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type26 td:nth-of-type(1):before {content: "성명";}
            table.type26 td:nth-of-type(2):before {content: "생년월일(주민번호 앞6자리)";}
            table.type26 td:nth-of-type(3):before {content: "전화번호(뒷4자리)";}
            table.mTbl.type26 td.list_none:before{display:none}
     table.mTbl.type26 td.list_none{height:122px !important;  padding-left:2% !important;/* text-align:center !important */}
     /* table.mTbl.type26 td.list_none:before{display:none} */
     
     /*오피스텔 신청내역 조회 취소,-마이페이지 포함 */
    table.mTbl.type27{min-width: 100% !important}
    table.mTbl.type27 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type27 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type27 td:nth-of-type(1):before {content: "번호";}
            table.type27 td:nth-of-type(2):before {content: "청약신청일";}
            table.type27 td:nth-of-type(3):before {content: "주택명";}
            table.type27 td:nth-of-type(4):before {content: "군/타입";}
            table.type27 td:nth-of-type(5):before {content: "청약취소";}
            table.type27 td:nth-of-type(6):before {content: "당첨자발표일";}
            table.mTbl.type27 td.list_none:before{display:none}
     table.mTbl.type27 td.list_none{height:100px !important;  padding-left:2% !important;/* text-align:center !important */}
     /* table.mTbl.type27 td.list_none:before{display:none} */
     
          /*공공지원 민간임대 내역조회 및 취소 -마이페이지 포함*/
    table.mTbl.type27_1{min-width: 100% !important}
    table.mTbl.type27_1 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type27_1 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type27_1 td:nth-of-type(1):before {content: "번호";}
            table.type27_1 td:nth-of-type(2):before {content: "청약신청일";}
            table.type27_1 td:nth-of-type(3):before {content: "주택명";}
            table.type27_1 td:nth-of-type(4):before {content: "군";}
            table.type27_1 td:nth-of-type(5):before {content: "타입";}
            table.type27_1 td:nth-of-type(6):before {content: "청약취소";}
            table.type27_1 td:nth-of-type(7):before {content: "당첨자발표일";}
            table.mTbl.type27_1 td.list_none:before{display:none}
     table.mTbl.type27_1 td.list_none{height:100px !important; padding-left:2% !important;}
     
     /*공공지원 민간임대 내역조회 당첨내역(최근5일) - 마이페이지포함 - 오피스텔/도시형/민간임대 당첨조회*/
    table.mTbl.type28 {min-width: 100% !important}
    table.mTbl.type28 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type28 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type28 td:nth-of-type(1):before {content: "오피스텔명";}
            table.type28 td:nth-of-type(2):before {content: "건설 위치";}
            table.type28 td:nth-of-type(3):before {content: "당첨자 발표일";}
            table.mTbl.type28 td.list_none:before{display:none}
     table.mTbl.type28 td.list_none{height:130px !important; padding-left:2% !important;/* text-align:center !important */}
     /* table.mTbl.type28 td.list_none:before{display:none} */
     
    /*당첨자 발표 - 주택조합 - 조합주택 동호수 */
    table.mTbl.type29{min-width: 100% !important}
    table.mTbl.type29 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type29 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type29 td:nth-of-type(1):before {content: "조합주택명";}
            table.type29 td:nth-of-type(2):before {content: "연락처";}
            table.type29 td:nth-of-type(3):before {content: "추첨결과 발표일";}
            table.mTbl.type29 td.list_none:before{display:none}
     table.mTbl.type29 td.list_none{height:100px !important; padding-left:2% !important; /*text-align:center !important */}
     /* table.mTbl.type29 td.list_none:before{display:none} */
     
     
     /*무순위 - 청약신청 1단계 유의사항 - 청약 불법행위 금지*/
    table.mTbl.type30{min-width: 100% !important}
    table.mTbl.type30 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type30 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type30 td:nth-of-type(1):before {content: "불법행위";}
            table.type30 td:nth-of-type(2):before {content: "처벌규정";}
            table.type30 td:nth-of-type(3):before {content: "법적근거";}
            table.mTbl.type30 td.list_none:before{display:none}
     table.mTbl.type30 td.list_none{height:100px !important; padding-left:2% !important;/* text-align:center !important */}
     /* table.mTbl.type30 td.list_none:before{display:none} */
     
     /*당첨자 발표 - 주택조합 - 조합주택 동호수추첨*/
    table.mTbl.type31{min-width: 100% !important}
    table.mTbl.type31 td {width: 100%;     padding-left: 50% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type31 td:before {width: 45%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type31 td:nth-of-type(1):before {content: "성명";}
            table.type31 td:nth-of-type(2):before {content: "생년월일(주민번호 앞6자리)";}
            table.type31 td:nth-of-type(3):before {content: "식별번호";}
            table.type31 td:nth-of-type(4):before {content: "주택형";}
            table.type31 td:nth-of-type(5):before {content: "동/호수";}
            table.mTbl.type31 td.list_none:before{display:none}
     table.mTbl.type31 td.list_none{height:100px !important; padding-left:2% !important; /*text-align:center !important */}
     /* table.mTbl.type31 td.list_none:before{display:none} */
     
     /*아파트 청약안내 당첨자 선정 - 민영주택 탭 - 선정비율*/
    table.mTbl.type32{min-width: 100% !important}
    table.mTbl.type32 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type32 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type32 td:nth-of-type(1):before {content: "주거전용면적";}
            table.type32 td:nth-of-type(2):before {content: "투기과열지구";}
            table.type32 td:nth-of-type(3):before {content: "청약과열지역";}
            table.type32 td:nth-of-type(4):before {content: "수도권 내 공공주택지구";}
            table.type32 td:nth-of-type(5):before {content: "85m²초과 공공건설임대주택";}
            table.type32 td:nth-of-type(6):before {content: "그 외 주택";}
            
            
     /*불법분양권공시 조회*/
    table.mTbl.type33{min-width: 100% !important}
    table.mTbl.type33 td {width: 100%;     padding-left: 33% !important;    text-align: left !important;    border: none;    border-bottom: 1px solid #ddd;  height: auto !important;  min-height: 35px !important;}   
    table.mTbl.type33 td:before {width: 26%; text-align: center; padding-left: 5px;white-space: normal;}
            table.type33 td:nth-of-type(1):before {content: "번호";}
            table.type33 td:nth-of-type(2):before {content: "주택명(단지명)";}
            table.type33 td:nth-of-type(3):before {content: "동";}
            table.type33 td:nth-of-type(4):before {content: "호수";}
            table.type33 td:nth-of-type(5):before {content: "분양권 상태";}
            
    /*APT 분양정보/경쟁률*/
    table.mTbl.type34{min-width: 100% !important;}
    table.mTbl.type34 td {width: 100%; padding-left: 37% !important;text-align: left !important;border:none; border-bottom:1px solid #ddd}        
            table.mTbl.type34 td:before {width: 32%; text-align: center;}
            table.type34 td:nth-of-type(1):before {content: "지역";}
            table.type34 td:nth-of-type(2):before {content: "주택구분";}
            table.type34 td:nth-of-type(3):before {content: "분양/임대";}
            table.type34 td:nth-of-type(4):before {content: "주택명";}
            table.type34 td:nth-of-type(5):before {content: "시공사";}
            table.type34 td:nth-of-type(6):before {content: "연락처";}
            table.type34 td:nth-of-type(7):before {content: "모집공고일";}
            table.type34 td:nth-of-type(8):before {content: "청약기간";}
            table.type34 td:nth-of-type(9):before {content: "당첨자발표";}
            table.type34 td:nth-of-type(10):before {content: "특별공급 신청현황";}
            table.type34 td:nth-of-type(11):before {content: "1·2순위 경쟁률";}
            table.mTbl.type34 th, table.mTbl.type34 td{font-size:1rem}
            table.tbl_st.tbl_padding.type34 td,
table.tbl_st.tbl_padding.type34 th{font-size:1rem !important;}
     
            
    /*오피스텔/도시형/(공공지원)민간임대 분양정보/경쟁률*/
    table.mTbl.type35{min-width: 100% !important;}
    table.mTbl.type35 td {width: 100%; padding-left: 37% !important;text-align: left !important;border:none; border-bottom:1px solid #ddd}        
            table.mTbl.type35 td:before {width: 32%; text-align: center;}
            table.type35 td:nth-of-type(1):before {content: "지역";}
            table.type35 td:nth-of-type(2):before {content: "주택구분";}
            table.type35 td:nth-of-type(3):before {content: "주택명";}
            table.type35 td:nth-of-type(4):before {content: "시행사";}
            table.type35 td:nth-of-type(5):before {content: "모집공고일";}
            table.type35 td:nth-of-type(6):before {content: "청약기간";}
            table.type35 td:nth-of-type(7):before {content: "당첨자발표";}
            table.type35 td:nth-of-type(8):before {content: "경쟁률";}     
            
    /*APT무순위/잔여세대 분양정보/경쟁률*/
    table.mTbl.type36{min-width: 100% !important;}
    table.mTbl.type36 td {width: 100%; padding-left: 37% !important;text-align: left !important;border:none; border-bottom:1px solid #ddd}        
            table.mTbl.type36 td:before {width: 32%; text-align: center;}
            table.type36 td:nth-of-type(1):before {content: "지역";}
            table.type36 td:nth-of-type(2):before {content: "주택명";}
            table.type36 td:nth-of-type(3):before {content: "시행사";}
            table.type36 td:nth-of-type(4):before {content: "모집공고일";}
            table.type36 td:nth-of-type(5):before {content: "청약기간";}
            table.type36 td:nth-of-type(6):before {content: "당첨자발표";}
            table.type36 td:nth-of-type(7):before {content: "경쟁률";}
     
     /*입주(예정)정보 조회*/
    table.mTbl.type37{min-width: 100% !important;}
    table.mTbl.type37 td {width: 100%; padding-left: 37% !important;text-align: left !important;border:none; border-bottom:1px solid #ddd}        
            table.mTbl.type37 td:before {width: 32%; text-align: center;}
            table.type37 td:nth-of-type(1):before {content: "지역";}
            table.type37 td:nth-of-type(2):before {content: "주택구분";}
            table.type37 td:nth-of-type(3):before {content: "분양/임대";}
            table.type37 td:nth-of-type(4):before {content: "주택명";}
            table.type37 td:nth-of-type(5):before {content: "건설업체";}
            table.type37 td:nth-of-type(6):before {content: "연락처";}
            table.type37 td:nth-of-type(7):before {content: "모집공고일";}
            table.type37 td:nth-of-type(8):before {content: "입주(예정)정보";}
            table.type37 td:nth-of-type(9):before {content: "입주예정세대수";}
            table.mTbl.type37 th, table.mTbl.type37 td{font-size:1rem}
            table.tbl_st.tbl_padding.type37 td,
table.tbl_st.tbl_padding.type37 th{font-size:1rem !important;}
   
    /*테이블 반응형 끝*/
   
}
@media (max-width:580px){
	table.type13 button.btn_blue {width:30%}
	table.mTbl caption{display:none}
	table.mTbl.type31 td.list_none{height:125px !important;}
}
/*도로명주소 팝업*/
@media (max-width:530px){
    		table.mTbl2,
            table.mTbl2 thead,
            table.mTbl2 tbody,
            table.mTbl2 th,
            table.mTbl2 td,
            table.mTbl2 tr {
                display: block;
                height: auto;
                width: auto;
                /*min-width: 100% !important;*/
                overflow: hidden;
            }
            table.mTbl2{
             /*   max-height: 420px*/
            }
            table.mTbl2 tbody{
                overflow: auto
            }
    table.mTbl2 .detail_layer{
        position: relative
    }

            /* Hide table headers (but not display: none;, for accessibility) */
            table.mTbl2 colgroup,
            table.mTbl2 thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
                display: none;
            }

            table.mTbl2 tr {
                margin: 0 0 1rem 0;
                border-top: 1px solid #ddd;
            }

            /*table.moStyle tr:nth-child(odd) {
                background: #ccc;
            }*/
            
 
            table.mTbl2 td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #ddd;
                
                position: relative;
                /*padding-left: 50%;*/
                padding-top:5px !important;
                padding-bottom:5px !important;
                min-height: 25px !important;
            
            }
            
            
            table.mTbl2 td
            table.mTbl2 td:first-child{
                border-top:1px solid #ddd;
                border:none;
                
                position: relative
            }

            table.mTbl2 td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 0;
                left: 0px;
                width: 45%;
                padding-right: 5px !important;
                white-space: nowrap;
                /* padding-top:5px !important;*/
                display: flex;
                align-items: center;
                padding-bottom:5px !important;
                background: #f1f1f1;
                height: 100%;
                justify-content: center;
                color:#333;
                
            }

    table.mTbl2.type37{min-width: 100% !important;}
    table.mTbl2.type37 td {width: 100%; padding-left: 37% !important;text-align: left !important;border:none; border-bottom:1px solid #ddd}        
            table.mTbl2.type37 td:before {width: 32%; text-align: center;}
            table.type37 td:nth-of-type(1):before {content: "번호";}
            table.type37 td:nth-of-type(2):before {content: "도로명주소";}
            table.type37 td:nth-of-type(3):before {content: "우편번호";}
}